matrix:
  include:
    - &PY {
        language: python,
        python: "3.6",
        install: ["pip install 'tox>=2.4.1,<3'"],
        script: ['cd app', 'tox -e py36']
      }
    - {<<: *PY, script: ['cd app', 'tox -e pylint']}
    - {<<: *PY, script: ['cd app', 'tox -e flake8']}
    - {<<: *PY, script: ['cd filesystem_service', 'tox -e py36']}
    - {<<: *PY, script: ['cd filesystem_service', 'tox -e pylint']}
    - {<<: *PY, script: ['cd filesystem_service', 'tox -e flake8']}
    - {<<: *PY, script: ['cd onedrive_service', 'tox -e py36']}
    - {<<: *PY, script: ['cd onedrive_service', 'tox -e pylint']}
    - {<<: *PY, script: ['cd onedrive_service', 'tox -e flake8']}
    - {<<: *PY, script: ['cd synchronization_service', 'tox -e py36']}
    - {<<: *PY, script: ['cd synchronization_service', 'tox -e pylint']}
    - {<<: *PY, script: ['cd synchronization_service', 'tox -e flake8']}
    - {<<: *PY, script: ['cd entities/python', 'tox -e py36']}
    - {<<: *PY, script: ['cd entities/python', 'tox -e pylint']}
    - {<<: *PY, script: ['cd entities/python', 'tox -e flake8']}
    - {<<: *PY, script: ['cd entities/python', 'tox -e pydocstyle']}
